:root {
    /*color palette*/
    --bgcolor: #eeeeee;
    --pgheadercolor: #393e46;
    --altcolor1: #aad8d3;
    --altcolor2: #00adb5;
}
html, body {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--bgcolor);
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 4vw;
}
a {
    text-decoration: none;
    color:var(--altcolor2);
}
footer{
    display: flex;
    justify-content: center;
}
#search-form{
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
#SearchText, #search-page-text{
    width: 50%;
    height: 6vw;
    margin: 1vw 4vw 1vw 4vw;
}
#templateSearchBox{
    width: 50%;
}
#search-link {
    content: url('/images/zoom.svg');
    height: 6vw;
    width: 6vw;
    border: 1px solid transparent;
}
#search-page-link{
    content: url('/images/zoom.svg');
    height: 3vw;
    width: 3vw;
    border: 1px solid transparent;
}
#search-link:hover, #search-page-link:hover{
    border: 1px solid var(--altcolor2);
}
.pkgIcon {
    width: min(5vw,30px);
    height: min(5vw,30px);
    margin-right: 1vw;
    background-color: white;
}
.template-pack-container{
    width:100%;
}
.template-pack{
    padding-left: 2vw;
    padding-right: 2vw;
    overflow-wrap: anywhere;
}
.template-pack-header {
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    display: flex;
    line-height: 6vw;
    width: 100%;
    margin-top: 2vh;
    font-size: max(min(4vw,20px),8px);
    align-items: baseline;
}
.template-list {
    margin-block-start: 0;
}

#overallStats{
    list-style-type: none;
}

/*************************
    terminal related
**************************/
.terminal-command::before {
    content: ' $ ';
}

.terminal-container {
    margin-bottom: 3vw;
}

.terminal {
    background-color: var(--pgheadercolor);
    font-family: "Cascadia Code","Menlo Regular","Lucida Console",monospace;
    color: var(--altcolor2);
    height: calc(5vw + 20px);
    /* width: 50vw; */
    font-size: 5vw;
    line-height: calc(5vw + 20px);
    text-align: center;
}

.template-info {
    list-style-type: none;
    /* change to horizontal layout */
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
}
.template-info ul{
    list-style-type:none;
    padding-left: min(2vw, 8px);
}
.template-metadata{
    padding: 0;
    padding-top: min(1vw,8px);
}
/*
.template-pack::after{
    content: "";
    display: block;
    background: var(--altcolor2);
    height: 2px;
    width: 100%;
    opacity: 0.15;
}
*/
.pager-container{
    align-self:center;
}
.pager {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width:100%;
    padding:0;
}
.pager > li:first-child::before{
    content: "\2B9C"
}
.pager > li:nth-child(2)::after{
    content: "\27A4"
}
.navHome{
    align-self:start;
    padding: 1vw 1vw;
}
/*************************
    blinking cursor
**************************/
.cursor1 {
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    -o-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes type {
    to {
        width: 17em;
    }
}

@-moz-keyframes type {
    to {
        width: 17em;
    }
}

@-o-keyframes type {
    to {
        width: 17em;
    }
}

@keyframes type {
    to {
        width: 17em;
    }
}

@media only screen and (min-device-width: 600px) {
/* font-size: 4vw; */
    body{
        font-size: min(4vw,24px);
    }
    #SearchText, #search-page-text{
        height: min(6vw,30px);
        margin: min(1vw,6px) min(3vw,18px) min(1vw,6px) min(3vw,18px);
    }
    #search-link, #search-page-link{
        height: min(6vw,40px);
        width: min(6vw,40px);
    }
    #overallStats{
        /* change to horizontal layout */
        display:flex;
        flex-direction: row;
        justify-content: center;
        /* remove some of the extra space */
        margin-block-end: 0;
        padding-inline-start: 0;
    }
    #overallStats li{
        margin-right: 5vw;
    }
    .template-metadata{
        /* change to horizontal layout */
        display:flex;
        flex-direction: row;
        justify-content: flex-start;

        list-style-type: none;
    }
    .template-metadata li{
        margin-right: 1vw;
    }
}

/*************************
    pack page styles
**************************/
.pack-title{
    background-color: var(--pgheadercolor);
    font-family: "Cascadia Code","Menlo Regular","Lucida Console",monospace;
    color: var(--altcolor2);
    /* height: calc(5vw + 20px);
    line-height: calc(5vw + 20px); */
    font-size: min(4vw, 24px);
    
    text-align: center;
    padding-top: min(1vw, 20px);
    padding-bottom: min(1vw, 20px);
}
.templates-title{
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}
.templates-list{
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    list-style-type: none;

    /* 🧇 📰 📜 */
}
.templates-list li:before{
    content: "🧇";
    font-size: min(3vw,20px);
}
.pack-content{
    padding: 0 2vmin;
}
.pack-description{
    padding-top: min(1vw, 8px);
    font-weight: 400;
}
.links-list{
    list-style-type:none;
}
.install-command {
    font-family: "Cascadia Code","Menlo Regular","Lucida Console",monospace;
    justify-self: center;
    background-color: var(--rich-black-fogra-29);
    color: var(--honeydew);
    padding: 0 4vw;
    border-radius: 1vmin;
    background-color: var(--pgheadercolor);
    color: var(--altcolor2);
}
/*
.terminal-command{
    padding-top: min(1vw, 20px);
    padding-bottom: min(1vw, 20px);
}
*/
.template-lang{
    font-family: "Cascadia Code","Menlo Regular","Lucida Console",monospace;
}