:root {
    /*color palette*/
    --imperial-red: hsla(355, 78%, 56%, 1);
    --honeydew: hsla(105, 55%, 96%, 1);
    --powder-blue: hsla(182, 43%, 76%, 1);
    --celadon-blue: hsla(203, 39%, 44%, 1);
    --prussian-blue: hsla(215, 50%, 23%, 1);
}

@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('../fonts/Menlo-Regular.woff') format('woff');
}

body {
    background-color: var(--powder-blue);
    width:100%;
    font-family: 'Fira Sans', sans-serif;
}
a{
    text-decoration:none;
}
.pkgIcon {
    width: 50px;
    height: 50px;
}
#navbar {
    /*text-align: center;*/
    font-size: 2rem;
}

#searchAndStats, .terminal {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.template-pack{
    width:auto;
    max-width:400px;
    /*min-width:100px;*/
    margin:10px;
    height:600px;
    height: auto;
    display:inline-block;
    vertical-align: top;
    background-color:var(--honeydew);
    overflow: hidden;
    padding: 10px;
    border-radius:10px;
    color:var(--prussian-blue);
}
.template-pack h3{
    white-space: nowrap;
    width: 100%;
    font-weight: 500;
    line-height: 1.2rem;
}
.template-description {
    text-overflow: ellipsis;
    /* background-color: gray; */
    display: inline-block;
    max-width: 90%;
    /* height: 100px; */
    overflow: hidden;
    max-height: 3.3em;
}
.template-metadata {
    padding: 0;
}
.template-metadata li{
    list-style:none;
    margin: 0;
    padding: 0;
    height: 1.2rem;
}
.template-details summary{
    font-size:2rem;
    cursor: pointer;
    border: none;
    padding: 2px 6px;
    outline:none;
    /* list-style: none; */
}
    /*.template-details[open] summary{
        border:0;
    }*/
    .template-list {
        list-style: none;
        margin:0;
    }

#searchAndStats{
    /* margin: 2em; */
    padding: 10px 0;
}
#SearchText{
    background-color:aliceblue;
    width: 50em;
    margin: 1em;
    border-radius:0.5em;
}
#search-button{
    height:1.5em;
    width:300px;
    
}

/*button related items below*/
.button4 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: var(--honeydew);
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    background-color:var(--celadon-blue);
    /* color:red; */
}
    .button4:hover {
        border-color: var(--honeydew);
        text-decoration:none;
    }
    .button4:visited {
        color: var(--honeydew);
    }
    
@media all and (max-width:30em) {
    ?.button4 {
        display: block;
        margin: 0.2em auto;
    }
}


/*************************
    terminal related
**************************/
.terminal {
    font-family: "Menlo Regular","Lucida Console",monospace;
    background-color: #272727;
    padding: 10px;
    height: 10rem;
    font-size: 5rem;
    vertical-align: middle;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Lucida Console",monospace;
    color: #13A10E;
    line-height: 10rem;
}
.terminal p{
    /* text-align: left; */
    /* font-size: 1.25em; */
    white-space: normal;
    overflow: hidden;
    /* line-height: 1.5em; */
    margin-top: 0;
    /* vertical-align: middle; */
}

    .terminal span {
        font-weight: bold;
    }

.line1 {
    color: #9CD9F0;
    -webkit-animation: type 1s 1s steps(20, end) forwards;
    -moz-animation: type 1s 1s steps(20, end) forwards;
    -o-animation: type 1s 1s steps(20, end) forwards;
    animation: type 1s 1s steps(20, end) forwards;
}

.cursor1 {
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    -o-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes type {
    to {
        width: 17em;
    }
}

@-moz-keyframes type {
    to {
        width: 17em;
    }
}

@-o-keyframes type {
    to {
        width: 17em;
    }
}

@keyframes type {
    to {
        width: 17em;
    }
}