:root {
    /*color palette*/
    --imperial-red: hsla(355, 78%, 56%, 1);
    --honeydew: hsla(105, 55%, 96%, 1);
    --powder-blue: hsla(182, 43%, 76%, 1);
    --celadon-blue: hsla(203, 39%, 44%, 1);
    --prussian-blue: hsla(215, 50%, 23%, 1);
}
body {
    background-color: var(--powder-blue);
    width:100%;
}

.pkgIcon {
    width: 50px;
    height: 50px;
}
nav{
    /*text-align: center;*/
    font-size: 6rem;
}

#content, #navbar {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.template-pack{
    width:auto;
    max-width:500px;
    min-width:100px;
    margin:10px;
    height:600px;
    height: auto;
    display:inline-block;
    vertical-align: top;
    background-color:var(--honeydew);
    overflow: hidden;
    padding: 10px;
    border-radius:10px;
    color:var(--prussian-blue)
}
.template-metadata li{
    list-style:none;
    display:inline;
}
.template-details summary{
    font-size:2rem;
    cursor: pointer;
    border: none;
    padding: 2px 6px;
    /* list-style: none; */
}
.template-list {
    /*background-color: aliceblue;*/
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    list-style: none;
}

#searchAndStats{
    margin: 2em;
    padding:5px 10px;
}
#SearchText{
    background-color:aliceblue;
    width: 50em;
    margin: 1em;
    border-radius:0.5em;
}
#search-button{
    height:1.5em;
    width:300px;
    
}

/*button related items below*/
.button4 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: var(--honeydew);
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    background-color:var(--celadon-blue);
    /* color:red; */
}
    .button4:hover {
        border-color: var(--honeydew);
        text-decoration:none;
    }
    .button4:visited {
        color: var(--honeydew);
    }
    
@media all and (max-width:30em) {
    ?.button4 {
        display: block;
        margin: 0.2em auto;
    }
}