@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>URL: @ViewData["url"]</h1>


<h1>template search</h1>
<form method="POST">
    <div>Name: <input asp-for="SearchText" /></div>
    <input type="submit" />
</form>

<ul>
    @foreach (var t in Model._templates) {
        <li><a href="/template/@t.TemplatePackId/@t.Identity">@t.Name</a></li>
    }
</ul>