@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>dotnet core templates</h1>
<form method="POST">
    <div id="templateSearchBox">
        <input asp-for="SearchText" class="form-control"/>
        <button type="submit" class="btn btn-primary">Search templates</button>
    </div>
</form>

<h2>Template packs</h2>
@foreach (var tp in Model.TemplatePacks) {
    <p><a href="/pack/@tp.Package">@tp.Package</a> - <quote>@tp.Description</quote></p>

    <ul>
        <li>Num downloads: @tp.DownloadCount</li>
        <li>Contains <b>@tp.Templates.Count()</b> templates</li>
    </ul>
}
