@page "{SearchText}"
@model SearchModel
@{
}
<h1>Search: [@Model.SearchText] </h1>

<form method="POST" action="~/">
    <div>Name: <input asp-for="SearchText" /></div>
    <input type="submit" />
</form>

@foreach (var template in Model.SearchResults) {
    <h3><a href="~/template/@template.TemplatePackId/@template.Identity">@template.Name</a></h3>
    <ul class="horizontalList">
        <li>by: <a href="/search/@template.Author">@template.Author</a> |</li>
        <li><a href="/pack/@template.TemplatePackId">other templates in this pack</a></li> |
        <li>Tags:              <b>@foreach (var t in template.Tags) {@t.Key @t.Value<span>; </span>}</b></li>
        <li>Classifications:   <b>@foreach (var c in template.Classifications) {@c;
        }</b></li>        
    </ul>
}
